fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
chromadb
sentence-transformers
python-telegram-bot
openai
pdfplumber
langchain
langchain-openai
langgraph
langgraph-checkpoint
mcp==1.2.0
httpx
langsmith
langdetect
langchain
langchain-openai
colorama
